*{
    font-weight: bold;
    font-size: 20px;
    font-family:cursive;
    text-align: center;
    margin: 0px;
    padding: 80px 150px 30px;
  }
  
  .N{
    background: #E67676;
    border-top: 12px solid #4285f4;
    border-left: 12px solid #4285f4;
    border-right: 12px solid #4285f4;
    }
  .E{
    background:#F2F062;
    border-left: 12px solid #4285f4;
    border-right: 12px solid #4285f4;
   }
  .S{
    background:#A9E6E6;
    border-left: 12px solid #4285f4;
    border-right: 12px solid #4285f4;
    }
  .W{
    background: #7692E4;
    border-bottom: 12px solid #4285f4;
    border-left: 12px solid #4285f4;
    border-right: 12px solid #4285f4;
   }
  